<f:layout name="main" />


<f:section name="obereZeile">

    <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: '#'}" />">#</a>
    <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'A'}" />">A</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'B'}" />">B</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'C'}" />">C</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'D'}" />">D</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'E'}" />">E</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'F'}" />">F</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'G'}" />">G</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'H'}" />">H</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'I'}" />">I</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'J'}" />">J</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'K'}" />">K</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'L'}" />">L</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'M'}" />">M</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'N'}" />">N</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'O'}" />">O</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'P'}" />">P</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'Q'}" />">Q</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'R'}" />">R</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'S'}" />">S</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'T'}" />">T</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'U'}" />">U</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'V'}" />">V</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'W'}" />">W</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'X'}" />">X</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'Y'}" />">Y</a>
        <a class="ohne_pfeil" style="padding-right:4px" href="<f:uri.action action="list" arguments="{letter: 'Z'}" />">Z</a>
</f:section>
